langchain
langchain-community
langchain-huggingface
chromadb
sentence-transformers
faster-whisper
pyttsx3
streamlit
sounddevice
soundfile
numpy
pypdf
scikit-learn
plotly
psutil
langsmith
rank_bm25
flashrank
docx2txt
unstructured
python-pptx
